* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
}

/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
}

.header img {
  width: 5rem;
  height: 5rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

nav a:hover {
  color: rgb(255, 166, 0);
}
/* Product Container */
.product-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background: linear-gradient(rgb(161, 161, 161), rgb(255, 166, 0));
  max-width: 300px;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem auto;
  color: #242424;
  box-shadow: 0 2px 8px rgb(35, 34, 34, 0.6);
  border-radius: 6px;
}

.product img {
  width: 15rem;
  height: 15rem;
}

.product-data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.product button {
  border-radius: 8px;
  padding: 0.6em 2em;
  font-size: 1em;
  color: rgb(255, 166, 0);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  margin: 1rem;
}

button:hover {
  border: 2px solid rgb(255, 166, 0);
  color: rgb(255, 255, 255);
}

/* Responsive design */

@media (max-width: 480px) {
  .header img {
    width: 3.5rem;
    height: 3.5rem;
  }

  nav a {
    font-size: 1rem;
  }
}
