* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
}

/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
}

.header img {
  width: 5rem;
  height: 5rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

nav a:hover {
  color: rgb(255, 166, 0);
}


/* button container */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 35px;
}

.heading {
  font-size: 3rem;
  color: rgb(255, 166, 0);
  animation: slide-in 1.5s ease-in-out;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px;
  margin: 10px;
  padding: 30px 100px;
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
  background-color: rgb(255, 166, 0);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 21px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  background: rgb(255, 166, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 5px white, 0 0 25px rgb(255, 166, 0), 0 0 50px white,
    0 0 200px rgb(255, 166, 0);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgb(255, 166, 0));
}


@media (max-width: 480px) {
  .header img {
    width: 3.5rem;
    height: 3.5rem;
  }

  nav a {
    font-size: 1rem;
  }
}